

.logo {
  font-family: Bungee, sans-serif;
}

.nav-area {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 100%;
  background-color: #4056a1;
  color: #FFFFFF;
  font-family: Source Sans Pro, sans-serif;
  padding: 1.5em;
}

.nav-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}

