.logo {
  font-family: Bungee, sans-serif;
}

.nav-area {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: #a18b40;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  color: #FFFFFF;
  font-family: Source Sans Pro, sans-serif;
  padding: 1.5em;
}

.nav-right-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1.5em;
}

@media only screen and (min-width: 1024px) {
  .nav-area {
    background-color: #4056a1;
    background-image: none;
  }

}