

.new-tweet {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  font-family: Bungee, sans-serif;
}

#submit {
  background-color: #4056a1;
  color: white;
}

#tweet-text {
  border: none;
  background-color: transparent;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 5px;
  font-size: 20px;
  resize: none;
}

.tweet-area {
  display: block;
  width: 100%;
  flex-direction: column;
  border-bottom: 0.2rem solid;
  font-family: Source Sans Pro, sans-serif;
}

.limit-exceeded {
  color: red;
}



